# Dependencies
node_modules/

# Environment
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Build
dist/
build/

# Temporary
tmp/
temp/

# Cache
.cache/

# Misc
*.pid
*.seed